* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, rgb(218, 166, 71), rgb(230, 67, 67));
    color: white;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding : 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    color: rgb(201, 141, 31);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
} 

form button :hover {
 
    color:rgb(92, 41, 0);
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
}

.todo li{
    flex: 1;
}

.delete-button, .complete-button {
    background: orange;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-button {
    background: green;
}


.delete-button {
    background: red;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

#clear-button {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-image: linear-gradient(120deg, rgb(218, 166, 71), rgb(230, 67, 67));
    color: rgba(255, 166, 0, 0.411);
    border-radius: 2rem;
    border-color: green;
}

.fa-trash-alt, .fa-check {
    pointer-events: none;
}